div{
    /* border: 1px solid #000; */
    width: 400px;
    background-color: #ccc;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}
p{
    color: #fff;
    font-size: 18px;
    font-family: 微軟正黑體;
    font-weight: 800;
    line-height: 2;
    /* border: 1px solid #000; */
    text-align: center;
    margin: 0;
}
.color1{
    background-color:#598987;
}
.color2{
    background-color:#678F8D;
}
.color3{
    background-color:#77A88D;
}
.color4{
    background-color:#FFD000;
}
.color5{
    background-color:#FF6670;
    height: 300px;
}